<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <article>
                <header>
                    <h2>Profil information:</h2>
                </header>

                <small class="user">
                    <p><h4>Full Name: <strong>{{user.fullName}}</strong></h4></p>
                    <p><h4>Email: <strong>{{user.email}}</strong></h4></p><br>
                </small>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>